html
  head
    title About Reflect Scientific
    include components/head
  body
    include components/header

    #wrapper(style="padding: 20px")
        main
            p Reflect Scientific, Inc. (OTCBB: RSCF), based in Orem, Utah, develops and markets innovative, proprietary technologies in cryogenic cooling for the healthcare, biotechnology, pharmaceutical, medical, industrial, and transportation markets. Among Reflect Scientific's products are low-temperature freezers and refrigerated containers for laboratory and transportation uses. 

    #contact-form-popup.contact-popup.hide-contact-form
      include components/contact-component
    

    include components/footer