html
  head
    title Company Profile Reflect Scientific
    include components/head
  body.company-profile-new
    include components/header

    
    main
      .section-header
        h2 Officers &amp; Directors
      hr
      .profile-new
            .left-content
              img(src="images/profiles/KimBoyce1.jpg")
              p Kim Boyce
              p CEO, Director 
            .right-content
              div
                p Mr. Boyce founded Reflect Scientific in 1993 and has over 40 years of experience in manufacturing, sales, distribution, and management. He has been successful in managing product development, in managing product placement in a variety of markets including the pharmaceutical and biotechnology markets, and in cold chain management.
      hr
      .profile-new
            .left-content
              img(src="images/profiles/tomtait.jpg")
              p Thomas Tait
              p Vice President, Director
            .right-content
              div
                p Vice President, Director Mr. Tait’s background spans 35 years in the chemical industry and has earned an MBA in technology Management and a BS in Chemistry from Clarkson University. He holds patents in Optics and MEMs technologies along with multiple publications and citations in chemical literature as well as bringing experience with accelerated product development, “lean” process management tools, strategic market analysis, and acquisition integration. He previously worked at Danaher Company where he was a business manager over a $120 million sales product line.
      hr
      .profile-new
            .left-content
              img(src="images/profiles/billmoon2.jpg")
              p William Moon
              p Vice President of Engineering, Director
            .right-content
              div
                p Mr. Moon has a master’s and bachelor’s degree in Mechanical Engineering from BYU, received the BYU Honored Alumni award, and has served as an adjunct professor at BYU. His background includes Principal Engineer and VP of Engineering at Quantum corporation, the world’s largest disk drive company, where he was instrumental in growing the company to over 10,000 employees, and has served on the board of directors of several technical ventures as well as being an active angel investor.
      hr
      .profile-new
            .left-content
              img(src="images/profiles/keithWeb.jpg")
              p Keith Merrell
              p CFO, Secretary/Treasurer
            .right-content
              div
                p Mr. Merrell graduated from Arizona State University with a BS degree in Accounting and has over 30 years of experience with business, including extensive expertise in management, sales and marketing, and merger and acquisition. He has served as both Chief Financial Officer and Controller of Specialized Health Products International, Inc., a manufacturer of safety medical devices, from 2000 to 2007, as well as Vice President-Western Operations for Michelex, an injection molding company with corporate headquarters in New York, from 1998 to 2000.
      hr
      .section-header
        h2 Advisors
      hr
      .profile-new
            .left-content
              img(src="images/profiles/johnHammerman.jpg")
              p John Hammerman
              p Senior Advisor
            .right-content
              div
                p Mr. Hammerman earned a first-class honors degree in chemical engineering from the University of South Wales, UK, holds 8 US patents, and has over 40 years of industrial experience, providing Reflect Scientific with comprehensive knowledge in engineering, business administration, mergers, acquisitions, and contract negotiation. He spent 28 years with UOP – a billion-dollar engineering, products, and services company (now a division of Honeywell International, Inc.), where his assignments included manager commercial development, manager international sales and marketing, director petrochemical products, and general manager specialty products. He is also responsible for forming a joint venture company, Universal Pharma Technologies, focused on providing purification services to the Bio/Pharma industry.


    include components/footer