html
  head
    title Company Profile Reflect Scientific
    include components/head
  body
    include components/header

    #wrapper
        main(style="padding: 20px 0")
            .profiles
                .profile
                    div
                        img(src="images/profile.png")
                        p Kim Boyce
                        p CEO, Director
                    div
                        p Mr. Boyce founded Reflect Scientific in 1993. He has over thirty years of experience in manufacturing, sales, distribution and management of scientific products related to companies in the chemical analysis, semiconductor fabrication and optics industries. 
                        p His responsibilities have included serving as a Western Regional Sales Manager, OEM Special Accounts Manager, Plant Operations Manager and various other senior management positions within these industries.
                .test-profile
                  .left-sidebar
                    img(src="images/profile.png")
                    p JOHN CENA
                    p CEO, Director OF SMASH
                  .right-content
                    p Mr. Boyce founded Reflect Scientific in 1993. He has over thirty years of experience in manufacturing, sales, distribution and management of scientific products related to companies in the chemical analysis, semiconductor fabrication and optics industries. 
                    p His responsibilities have included serving as a Western Regional Sales Manager, OEM Special Accounts Manager, Plant Operations Manager and various other senior management positions within these industries.
            

    include components/footer