html
  head
    title Reflect Scientific
    include components/head
  body.homepage
    include components/header

    #wrapper
        .hero-slider
            img(src="", alt="Banner Image")
            .overlay
                #text-box
                    div
                        h1(id="actionText") See what Reflect can do for you!
                        p(id="subText") Reflect Scientific has a vision of technologies for the future. 
                    a(href="#", id="actionButton") PRODUCT LINES
            .controls-container 
                i(class="fas fa-angle-left arrow")
                .dot-container
                i(class="fas fa-angle-right arrow")
        main
            div.sidebar
              p &nbsp;
            div
                p Reflect Scientific has a vision of technologies for the future. We think technology should make our world cleaner and more energy efficient. We have assembled a product portfolio that does just that - testing for harmful chemicals and saving energy in a range of cooling applications.
            div
                p Reflect Scientific's Cryometrix brand develops and markets innovative/proprietary technologies in cryogenic cooling for the healthcare, biotechnology, pharmaceutical, medical, industrial, and transportation markets. Reflect Scientific's Visacon brand provides the highest quality chromatography products for the life sciences market, ranging from laboratory consumables to UV/VIS instrumentation.

    #contact-form-popup.contact-popup.hide-contact-form
      include components/contact-component
    

    include components/footer
