html
  head
    title Reflect Scientific
    include components/head
  body.homepage
    include components/header

    #wrapper
        .hero-slider
            img(src="", alt="Banner Image")
            .overlay
                #text-box
                    div
                        h1(id="actionText") See what Reflect can do for you!
                        p(id="subText") Reflect Scientific has a vision of technologies for the future. 
                    a(href="#", id="actionButton") PRODUCT LINES
            .controls-container 
                i(class="fas fa-angle-left arrow")
                .dot-container
                i(class="fas fa-angle-right arrow")
        main
            div.sidebar
              p &nbsp;
            div
                p At Reflect Scientific, we have a vision of the future. Technology should make our world cleaner, safer, and more energy efficient. This is exactly what our technology does. With products that range from testing applications for harmful chemicals to energy efficient cryogenic freezers, Reflect Scientific is bringing the future to the present.
            div
                p Cryometrix develops and markets innovative, proprietary, and patented technologies in blast freezing, storage cooling, and thawing for the healthcare, biotechnology, pharmaceutical, medical, industrial, and transportation markets. Visacon provides high quality chromatography products for the life sciences market. Go to our Product Lines page to see Reflect Scientific&apos;s full range of products, including cold chain management.

    #contact-form-popup.contact-popup.hide-contact-form
      include components/contact-component
    

    include components/footer
