html
  head
    title Press Releases
    include components/head
  body
    include components/header

    #wrapper.releases
      h1 Press Releases
      p Check back for more sweet sweet news.

      .post-container
        .post#placeholder 
          h2 TITLE PLACEHOLDER
          h3 SUB TITLE/DATE FIELD
          p CONTENT PREVIEW Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quae nesciunt aut veritatis facilis minus odio quas fuga nemo quos dolorum, laudantium illo, fugit repellendus! Numquam tempora quasi voluptas exercitationem?

    include components/footer