html
  head
    title Press Releases
    include components/head
  body
    include components/header

    #wrapper.releases
      h1 Press Releases
      

      .post-container
      

    include components/footer