.stop-scrolling {
    height: 100%;
    overflow: hidden;
}
.calc-form {
    color: white;
    padding: 20px 45px 20px 45px;
    background-color: $logo-blue;
    max-width: 400px;
    max-height: calc(94% - 40px);
    @media screen and (max-width:850px) {
        max-height: 100%;
    }
    overflow: scroll;
    a {
        text-decoration: none;
        color: white;
    }
    i {
        float: right;
        position: relative;
        top: -20px;
        right: -45px;
        padding: 10px;
        font-size: $close-icon;
    }
    h1 {
        font-size: 24px;
    }
    p {
        padding: 15px 0 10px 0;
        font-size: $normal;
    }
    label {
        margin: 15px 0 15px 0;
        display: block;
        flex: 1;
        &:first-of-type {
            margin-top: 0px;
        }
        .input-block {
            display: flex;
            align-items: flex-end;
            input, select {
                display: block;
                width: 95%;
                height: 50px;
                font-size: $headings;
                padding-left: 10px;
            }
            p.calc-unit {
                width: 5%;
                margin-left: 5px;
                padding: 0px;
            }
        }
        textarea {
            display: block;
            width: 100%;
        }
    }
    button {
        width: 50%;
        color: white;
        cursor: pointer;
        height: 50px;
        margin: 15px 0 0 0;
        border: none;
        display: block;
        font-size: $normal;
        background-color: $copy-background;
    }
    .flex label:nth-child(2) {
        margin-left: 15px;
    }
    .required span::after {
        content: "*";
    }
}
// Certain items on the calc form when on the actual calc page
// shouldn't be displayed, since those same items are visible on 
// other parts of the page.
.calc .calc-form {
    >h1, >p, >a .fa-times {
        display: none;
    }
}
.calc .calc-form i.fa-times {
    display: none;
}
.calc {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    > div {
        width: 40%;
    }
    @media screen and (max-width:850px) {
        display: block;
        > div {
            box-sizing: border-box;
            width: 100%;
            max-width: 600px;
            margin: auto;
            padding: 30px;
            padding-top: 30px;
        }
        > div:first-child {
            margin-bottom: 50px;
            padding-top: 0;
        }
    }
    h1 {
        font-size: 40px;
    }
    h3 {
        font-weight: 600;
    }
    .info {
        padding-left: 25px;
    }
}
#calc-results {
    padding: 20px 0px;
}
.units {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    p {
        padding: 0;
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        max-width: 60px;
        height: 34px;
        max-height: 34px;
        margin: 0 5px;
        input {
            display: none;
        }
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
            &:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }
        }
    }
    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
}