.profiles {
    justify-content: center;
    margin: $spacing-md 0;

    .profile {
        display: flex;
        align-items: center;
        padding: 55px 0;
        box-sizing: border-box;

        @media screen and (max-width: 650px) {
            display: block;
            > div:first-child {
                text-align: center;
                padding-bottom: 15px;
            }
        }

        > div:first-child p {
            text-align: center;
            padding: 0;

            &:first-of-type {
                font-weight: bold;
                font-size: $med-big;
            }
        }

        p {
            padding: 7px 50px;
        }

        img {
            width: 200px;
            height: 200px;
        }

        a {
            width: 100px;
            text-decoration: none;
            padding: $spacing-sm;
            margin: $spacing-sm;
            color: white;
            background-color: $reflect-primary;
            text-align: center;
            &:hover {
                background-color: $reflect-primary-light;
                cursor: pointer;
            }
        }
        .hidden {
            display: none;
        }
    }
}