.company-profile-new {
  margin-top: 72px;
  @media screen and (max-width: 1080px){
    margin-top: 60px;
  }
  @media screen and (min-width: 850px){
    footer .foot-info .foot-contact {
      width: 30%;
      box-sizing: border-box;
      max-width: 500px;
    }
  }
    
  
}

.profile-new {

  display: flex;

  @media screen and (max-width: 850px) {
    display: block;
    
  }


  .left-content {
    display: inline-block;
    width: 30%;
    box-sizing: border-box;
    text-align: right;
    padding: 50px;
    color: white;
    background-color: $sidebar-color;
    
    @media screen and (min-width: 851px) {
      max-width: 500px;
    }
    
    
    &:first-child p {
      &:first-of-type {
        padding-top: 10px;
        font-size: 20px;
        font-weight: 300;
      }
      font-weight: 200;
    }

    @media screen and (max-width: 850px) {
      text-align: center;
      padding-bottom: 15px;
      //background-color: white;
      width: 100%;
      //color: $sidebar-color;
    }
  }
  
  .right-content {
    width: 70%;
    box-sizing: border-box;
    float: right;
    padding: 50px;
    max-width: 800px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      padding: 7px 0 7px 0;
      color: $sidebar-color;
    }

    @media screen and (max-width: 850px) {
      float: none;
      width: 100%;
    }
  }
}