.product-line-main-content {
    display: flex;
    flex-direction: column;
    .product-line {
        width: 100%;
        color: white;
        display: flex;
        padding: $spacing-md;
        min-height: 400px;
        box-sizing: border-box;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        position: relative;

        @include screen-size(mobile) {
            flex-direction: column;
        }

        &.cryometrix {
            background-color: $cryometrix-logo-blue;
        }
        &.visacon {
            background-color: $visacon-logo-red;
        }
        &.lcgc {
            background-color: $lcgc-logo-purple;
        }
        &.gcferrules {
            background-color: $gcferrules-logo-blue;
        }
        &.hplcdetectors {
            background-color: $hplcdetectors-logo-red;
        }

        .watermark-logo {
            position: absolute;
            width: 100%;
            height: 100%;
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0.2; /* Firefox, Chrome, Safari, Opera, IE >= 9 (preview) */
                filter:alpha(opacity=20); /* for <= IE 8 */
            }
        }


        .product-image {
            width: 50%;
            height: 200px;
            padding: 40px 80px;
            box-sizing: border-box;
            @include screen-size(mobile) {
                width: 100%;
                padding: $spacing-sm $spacing-md;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .product-description {
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: $spacing-md;
            box-sizing: border-box;
            @include screen-size(mobile) {
                width: 100%;
                padding: $spacing-sm $spacing-md;
            }
            h3 {
                margin-bottom: $spacing-md;
                font-weight: bold;
            }
            p {

            }
            a {
                width: 100px;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 900;
                padding: $spacing-sm;
                margin: $spacing-sm;
                color: white;
                background-color: $reflect-primary;
                align-self: center;
                text-align: center;
            }
        }
    }
}
