.product-line-new {
  margin-top: 72px;
  @media screen and (max-width: 1080px){
    margin-top: 60px;
  }
  @media screen and (min-width: 850px){
    footer .foot-info .foot-contact {
      width: 40%;
      box-sizing: border-box;
    }
  }
}

.p-line-new {

  display: flex;

  @media screen and (max-width: 850px) {
    display: block;
    
  }
  .left-content {
    display: inline-block;
    width: 40%;
    box-sizing: border-box;
    text-align: right;
    padding: 50px;
    
    background-color: $sidebar-color;


    img {
      
      width: 85%;
      margin: auto;
    }

    a {
      text-decoration: none;
      color: white;
      background-color: $reflect-primary;
      padding: 5px 40px;
      display: inline-block;
      margin-top: 10px;
    }
    

    @media screen and (max-width: 850px) {
      text-align: center;
      padding-bottom: 15px;
      //background-color: white;
      width: 100%;
      //color: $sidebar-color;
    }

  }
  
  .right-content {
    width: 60%;
    box-sizing: border-box;
    float: right;
    padding: 50px;

    p {
      padding: 7px 0 7px 0;
      color: $sidebar-color;
    }
    @media screen and (max-width: 850px) {
      float: none;
      width: 100%;
    }
  }
}