.product-line-main-content {
    display: flex;
    flex-direction: column;
    .product-line {
        width: 100%;
        color: white;
        display: flex;
        padding: $spacing-sm;
        min-height: 400px;
        box-sizing: border-box;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        @include screen-size(mobile) {
            flex-direction: column;
        }
        @media screen and (max-width: 1080px) {
            padding: 50px $spacing-sm;
        }
        &.cryometrix {
            background-color: $cryometrix-logo-blue;
        }
        &.visacon {
            background-color: $visacon-logo-red;
        }
        &.lcgc {
            background-color: $lcgc-logo-purple;
        }
        &.gcferrules {
            background-color: $gcferrules-logo-blue;
        }
        &.hplcdetectors {
            background-color: $hplcdetectors-logo-red;
        }
        .watermark-logo {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            overflow: hidden;
            img {
                position: absolute;
                @media screen and (max-width: 1080px) {
                    top: auto;
                    bottom: -150px;
                    left: -100px;
                    height: 120%;

                    &.lcgc {
                        bottom: 0;
                        height: 100%;
                    }
                }
                @media screen and (min-width: 1081px) {
                    bottom: auto;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    height: 80%;
                }
                @media screen and (max-width: 460px) {
                    display: none;
                }

                &.hplc {
                    width: 100%;
                    left: 0;
                    transform: none;
                    height: auto;
                }

                opacity: 0.1;
                filter: alpha(opacity=10);
            }
        }
        .product-image {
            width: 50%;
            padding: 40px 80px;
            box-sizing: border-box;
            position: relative;
            @include screen-size(mobile) {
                width: 100%;
                padding: $spacing-sm $spacing-md;
            }
            img {
                width: 100%;
                @media screen and (max-width: 1080px) {
                    display: block;
                    max-width: 600px;
                    margin: auto;
                }
            }
        }
        .product-description {
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: $spacing-md;
            box-sizing: border-box;
            position: relative;
            @include screen-size(mobile) {
                width: 100%;
                padding: $spacing-sm $spacing-md;
            }
            @media screen and (max-width: 1080px) {
                max-width: 600px;
            }
            h3 {
                margin-bottom: $spacing-md;
                font-weight: bold;
            }
            p {}
            a {
                // width: 100px;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 900;
                padding: $spacing-sm;
                // margin: $spacing-sm;
                color: white;
                background-color: $reflect-primary;
                // align-self: center;
                text-align: center;
                font-size: 25px;
                margin: $spacing-lg auto;
                width: 200px;
            }
        }
    }
}