.product-line-new {
  margin-top: 72px;
  @media screen and (max-width: 1080px){
    margin-top: 60px;
  }
  @media screen and (min-width: 850px){
    footer .foot-info .foot-contact {
      width: 40%;
      max-width: 500px;
      box-sizing: border-box;
    }
  }
}

.p-line-new {
  display: flex;

  @media screen and (max-width: 850px) {
    display: block;
    
  }

  .left-content {
    width: 40%;
    display: inline-block;
    padding: 0 50px;
    box-sizing: border-box;
    background-color: $sidebar-color;
    max-width: 500px;

    @media screen and (max-width: 850px) {
      max-width: none;
    }

    .center-it {
      height: 31%;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      justify-content: center;
      img {
        width: 90%;
      }
      a {
        color: white;
        padding: 5px 40px;
        display: inline-block;
        margin-top: 10px;
        text-decoration: none;
        background-color: $reflect-primary;
      }
    }
    @media screen and (max-width: 600px) {
      padding: 0 0;
      max-width: none;
    }

    @media screen and (max-width: 850px) {
      width: 100%;
      text-align: center;
      
      .center-it {
        align-items: center;
        #HPLC_LOGO {
          width: 60%;
        }
      }
    }

  }
  
  .right-content {
    width: 60%;
    box-sizing: border-box;
    float: right;
    padding: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      padding: 7px 0 7px 0;
      color: $sidebar-color;
      max-width: 500px;
    }
    @media screen and (max-width: 850px) {
      float: none;
      width: 100%;

      p {
        margin: auto;
      }
    }
  }
}