header  
  nav
    div
      a(href="index.html")
        img(src="images/ReflectLogo.png")
    div.links
      ul
        li
          a(href="index.html") Home
        li
          a(href="product-lines.html") Product Lines
        li
          .dropdown
            span Corporate Profile #[i.fas.fa-angle-down]
            div
              a(href="company-profile.html") Officers &amp; Directors
              a(href="https://finance.yahoo.com/quote/RSCF?ltr=1" target="_blank") Stock Chart
              a(href="#") Press Releases
              a(href="https://www.sec.gov/cgi-bin/browse-edgar?company=Reflect+Scientific&owner=exclude&action=getcompany" target="_blank") SEC Documents
        li
          a(href="contact.html" id="contact-btn") Contact Us
    .mobile-nav#mobile-nav
      a(href="#mobile-nav") #[i.fas.fa-bars]
      .mobile-container
        i.fas.fa-times
        ul
          li.logo #[img(src="images/ReflectColorRough.jpg")]
          li #[a(href="index.html").nav-item Home]
          li #[a(href="product-lines.html").nav-item Product Lines]
          li.dropdown #[a(href="#").nav-item Corporate Profile#[i.fas.fa-angle-down]]
            ul              
              li #[a(href="company-profile.html").nav-item Officers &amp; Directors]
              li #[a(href="https://finance.yahoo.com/quote/RSCF?ltr=1").nav-item Stock Chart]
              li #[a(href="#").nav-item Press Releases]
              li #[a(href="https://www.sec.gov/cgi-bin/browse-edgar?company=Reflect+Scientific&owner=exclude&action=getcompany").nav-item SEC Documents]
          li.contact #[a(href="contact.html" id= "mobile-contact-btn").nav-item Contact Us]
        a(href="#").overlay
      
      
      
