header  
  nav
    div
      a(href="index.html")
        img(src="images/Cryometrix-Logo_white.png")
    div.links
      ul
        li
          a(href="index.html") Home
        li
          a(href="product-lines.html") Product Lines
        li
          a(href="company-profile.html") Company Profile
        li
          a(href="contact.html" id="contact-btn") Contact Us
        li
          a(href="about.html") About Us
        li
          a(href="https://yahoo.com") Announcements
    .mobile-nav#mobile-nav
      a(href="#mobile-nav") #[i.fas.fa-bars]
      .mobile-container
        i.fas.fa-times
        ul
          li.logo #[img(src="images/Cryometrix-Logo_color.png")]
          li #[a(href="index.html").nav-item Home]
          li #[a(href="product-lines.html").nav-item Product Lines]
          li #[a(href="company-profile.html").nav-item Company Profile]
          li #[a(href="about.html").nav-item About Us]
          li #[a(href="https://yahoo.com").nav-item Announcements]
          li.contact #[a(href="contact.html" id= "mobile-contact-btn").nav-item Contact Us]
        a(href="#").overlay
      
      
      